*{
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

table, td, th {
    border: 2px solid;
}


p{
    margin-top: 50px;
}
  
table {
    border-collapse: collapse;
}

img{
    height: 100px;
    width: 100px;
}

div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    background-color: white;
    margin-top: 50px;
    border: 2px solid black;
    width: 70px;
    height: 40px;
    font-size: large;
    border-radius: 10px;
}

button:hover{
    background-color: black;
    color: white;
}